{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'login_res/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'login_res/css/style.css' %}">
</head>
<body>

    <div class="main" style="padding: 40px 0;">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="first_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="first_name" id="first_name" placeholder="Your First Name"/>
                            </div>
                            <div class="form-group">
                                <label for="last_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="last_name" id="last_name" placeholder="Your Last Name"/>
                            </div>
                            <div class="form-group">
                                <label for="city"><i class="zmdi zmdi-city material-icons-name"></i></label>
                                <input type="text" name="city" id="city" placeholder="Your city"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email material-icons-name"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="phone_number"><i class="zmdi zmdi-phone material-icons-name"></i></label>
                                <input type="text" name="phone_number" id="phone_number" placeholder="Your Phone Number"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-male-female material-icons-name"></i></label>
                                <select name="gender" id="gender" class="form-control">
                                        <option value="" disabled selected>Gender</option>
                                        <option value="MALE">Male</option>
                                        <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                        
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image" style="margin-top: 132px;">
                        <figure><img src="{% static 'login_res/images/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="/login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'login_res/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'login_res/js/main.js' %}"></script>
</body>
</html>